.cv {
  font-family: 'Open Sans', 'Arial', sans-serif;
}

.cv-wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 1024px;
}

.cv-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.cv-profile-picture {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.cv-content {
  font-size: 15px;
}


.cv-content__paragraph_strong {
  font-weight: bold;
}

.cv-content-codeblock {
  margin: 0;
  padding: 10px;
  text-align: left;
  font-family: "Source Code Pro", "Courier New", monospace;
  font-size: 13px;
  background-color: #F6F8Fa;

}

.cv-content-codeblock__code_commented {
  font-style: italic;
  color: gray;
}

.cv-content-codeblock__code_bold {
  font-weight: bold;
}

.cv-content-codeblock__code_colored {
  color: rgb(221, 17, 68)
}
